<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Simple APIs

## Random User and Fruitvice API Examples

Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruitvice API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other.

The advantages of using APIs:

*   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more\
    productive.
*   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to
    independently implement some functionality from scratch.

The disadvantage of using APIs:

*   **Secirity**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data\
    breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01#intro) can be found here.

Another example of simple API we will use in this notebook is Fruitvice application. The Fruitvice API webservice which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The webservice is completely free to use and contribute to.

## Example 1: RandomUser API

Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01) page.

## **Get Methods**

*   get_cell()
*   get_city()
*   get_dob()
*   get_email()
*   get_first_name()
*   get_full_name()
*   get_gender()
*   get_id()
*   get_id_number()
*   get_id_type()
*   get_info()
*   get_last_name()
*   get_login_md5()
*   get_login_salt()
*   get_login_sha1()
*   get_login_sha256()
*   get_nat()
*   get_password()
*   get_phone()
*   get_picture()
*   get_postcode()
*   get_registered()
*   get_state()
*   get_street()
*   get_username()
*   get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [4]:
!pip install randomuser

Requirement already satisfied: randomuser in c:\users\sharon\anaconda3\lib\site-packages (1.6)

Then, we will load the necessary libraries.

In [5]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [6]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [7]:
some_list = r.generate_users(10)

In [8]:
some_list

[<randomuser.RandomUser at 0x174fdbe3c10>,
 <randomuser.RandomUser at 0x174fdb45250>,
 <randomuser.RandomUser at 0x174fdb45820>,
 <randomuser.RandomUser at 0x174fdb45190>,
 <randomuser.RandomUser at 0x174ffebcbe0>,
 <randomuser.RandomUser at 0x174fdbce550>,
 <randomuser.RandomUser at 0x174fdbce760>,
 <randomuser.RandomUser at 0x174fdbce790>,
 <randomuser.RandomUser at 0x174fdbcefa0>,
 <randomuser.RandomUser at 0x174fdbd58e0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [11]:
name = r.get_full_name()
#name

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [12]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Kuzey Günday   kuzey.gunday@example.com
Harper Margaret   harper.margaret@example.com
Vittorio Charles   vittorio.charles@example.com
Conrad Jäckel   conrad.jackel@example.com
Raul Ramcharan   raul.ramcharan@example.com
Ethan Wilson   ethan.wilson@example.com
Amin Kongsrud   amin.kongsrud@example.com
زهرا حسینی   zhr.hsyny@example.com
Tom Roger   tom.roger@example.com
فاطمه حسینی   ftmh.hsyny@example.com

## Exercise 1

In this Exercise, generate photos of the random 5 users.

In [13]:
## Write your code
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/4.jpg
https://randomuser.me/api/portraits/women/86.jpg
https://randomuser.me/api/portraits/men/37.jpg
https://randomuser.me/api/portraits/men/4.jpg
https://randomuser.me/api/portraits/men/84.jpg
https://randomuser.me/api/portraits/men/18.jpg
https://randomuser.me/api/portraits/men/42.jpg
https://randomuser.me/api/portraits/women/56.jpg
https://randomuser.me/api/portraits/men/63.jpg
https://randomuser.me/api/portraits/women/52.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [14]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [15]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Othelia Omer,female,Tjørvåg,Telemark,othelia.omer@example.com,1970-12-09T04:39:23.130Z,https://randomuser.me/api/portraits/women/21.jpg
1,Tea Engh,female,Stordal,Sør-Trøndelag,tea.engh@example.com,1958-01-25T11:23:30.118Z,https://randomuser.me/api/portraits/women/65.jpg
2,Katharina Roux,female,Altikon,Appenzell Innerrhoden,katharina.roux@example.com,1952-12-16T04:42:09.825Z,https://randomuser.me/api/portraits/women/27.jpg
3,Konsta Hamalainen,male,Merijärvi,South Karelia,konsta.hamalainen@example.com,1968-09-19T14:18:46.686Z,https://randomuser.me/api/portraits/men/42.jpg
4,Deniz Samancı,male,Trabzon,Çankırı,deniz.samanci@example.com,1964-10-10T22:06:55.749Z,https://randomuser.me/api/portraits/men/15.jpg
5,عسل کامروا,female,قرچک,کهگیلویه و بویراحمد,aasl.khmrw@example.com,1983-06-18T22:01:20.630Z,https://randomuser.me/api/portraits/women/79.jpg
6,Kuzey Kılıççı,male,Niğde,Hatay,kuzey.kilicci@example.com,1980-02-29T07:35:54.655Z,https://randomuser.me/api/portraits/men/25.jpg
7,Eemil Arola,male,Kannus,Central Ostrobothnia,eemil.arola@example.com,1950-08-26T04:31:50.706Z,https://randomuser.me/api/portraits/men/10.jpg
8,Yanis Richard,male,Fort-de-France,Tarn-et-Garonne,yanis.richard@example.com,1977-04-27T19:34:03.292Z,https://randomuser.me/api/portraits/men/43.jpg
9,Andre Hamilton,male,Denton,Wyoming,andre.hamilton@example.com,1984-03-25T11:38:46.342Z,https://randomuser.me/api/portraits/men/43.jpg

In [15]:
df1 = pd.DataFrame(get_users())  
df1

,Name,Gender,City,State,Email,DOB,Picture
0,Sedef Köybaşı,female,Yozgat,Ordu,sedef.koybasi@example.com,1996-09-20T10:29:38.730Z,https://randomuser.me/api/portraits/women/61.jpg
1,August Jørgensen,male,Horsens,Nordjylland,august.jorgensen@example.com,1953-12-30T08:56:03.685Z,https://randomuser.me/api/portraits/men/67.jpg
2,Lucy Clarke,female,Hastings,Gisborne,lucy.clarke@example.com,1975-05-28T17:12:00.289Z,https://randomuser.me/api/portraits/women/5.jpg
3,Abbas Coers,male,Colmschate,Drenthe,abbas.coers@example.com,1984-06-11T11:47:23.515Z,https://randomuser.me/api/portraits/men/89.jpg
4,Pilar Diez,female,Barcelona,Castilla y León,pilar.diez@example.com,1969-08-25T07:34:43.113Z,https://randomuser.me/api/portraits/women/3.jpg
5,Jimmie Davidson,male,Southampton,Clwyd,jimmie.davidson@example.com,1954-07-25T06:30:58.024Z,https://randomuser.me/api/portraits/men/24.jpg
6,Josep Pastor,male,Las Palmas de Gran Canaria,Aragón,josep.pastor@example.com,1984-06-11T00:42:29.737Z,https://randomuser.me/api/portraits/men/80.jpg
7,Konsta Niva,male,Sipoo,Northern Ostrobothnia,konsta.niva@example.com,1961-11-27T18:34:23.936Z,https://randomuser.me/api/portraits/men/86.jpg
8,Lucia Ferrer,female,Alcalá de Henares,Galicia,lucia.ferrer@example.com,1964-08-14T12:42:19.419Z,https://randomuser.me/api/portraits/women/40.jpg
9,Tracey Stewart,female,Lincoln,West Yorkshire,tracey.stewart@example.com,1969-02-03T08:28:59.822Z,https://randomuser.me/api/portraits/women/37.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruitvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [16]:
import requests
import json

We will obtain the [fruitvice](https://www.fruityvice.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01) API data using `requests.get("url")` function. The data is in a json format.

In [17]:
data = requests.get("https://www.fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [18]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [19]:
pd.DataFrame(results).head(5)

,genus,name,id,family,order,nutritions
0,Malus,Apple,6,Rosaceae,Rosales,"{'carbohydrates': 11.4, 'protein': 0.3, 'fat':..."
1,Prunus,Apricot,35,Rosaceae,Rosales,"{'carbohydrates': 3.9, 'protein': 0.5, 'fat': ..."
2,Musa,Banana,1,Musaceae,Zingiberales,"{'carbohydrates': 22, 'protein': 1, 'fat': 0.2..."
3,Rubus,Blackberry,64,Rosaceae,Rosales,"{'carbohydrates': 9, 'protein': 1.3, 'fat': 0...."
4,Fragaria,Blueberry,33,Rosaceae,Rosales,"{'carbohydrates': 5.5, 'protein': 0, 'fat': 0...."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [20]:
df2 = pd.json_normalize(results)

In [24]:
df2.head()

,genus,name,id,family,order,nutritions.carbohydrates,nutritions.protein,nutritions.fat,nutritions.calories,nutritions.sugar
0,Malus,Apple,6,Rosaceae,Rosales,11.4,0.3,0.4,52,10.3
1,Prunus,Apricot,35,Rosaceae,Rosales,3.9,0.5,0.1,15,3.2
2,Musa,Banana,1,Musaceae,Zingiberales,22.0,1.0,0.2,96,17.2
3,Rubus,Blackberry,64,Rosaceae,Rosales,9.0,1.3,0.4,40,4.5
4,Fragaria,Blueberry,33,Rosaceae,Rosales,5.5,0.0,0.4,29,5.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [22]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2

In this Exercise, find out how many calories are contained in a banana.

In [23]:
# Write your code here
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.carbohydrates']

22.0

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.carbohydrates']
```

</details>

## Exercise 3

This [page](https://github.com/public-apis/public-apis#animals) contains a list of free public APIs. Choose any API of your interest and use it to load/extract some information, as shown in the example above.

1.  Using `requests.get("url")` function, load your data.

In [28]:
# Write your code here
#url = 'https://alexwohlbruck.github.io/cat-facts/'
data2 = requests.get("https://www.fishwatch.gov/api/species")

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://www.fishwatch.gov/api/species")
```

</details>

2.  Retrieve results using `json.loads()` function.

In [30]:
# Write your code here
results2 = json.loads(data2.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3.  Convert json data into *pandas* data frame.

In [31]:
# Write your code here
pd.DataFrame(results2).head(5)

,Fishery Management,Habitat,Habitat Impacts,Image Gallery,Location,Management,NOAA Fisheries Region,Population,Population Status,Scientific Name,...,Selenium,Serving Weight,Servings,Sodium,Source,"Sugars, Total",Taste,Texture,Path,last_update
0,"<ul>\n<li><a href=""https://www.fisheries.noaa....",None,"Bottomfish fishing operations, typically using...",[{'src': 'https://www.fishwatch.gov/sites/defa...,<ul>\n<li>Crimson jobfish are distributed thro...,None,Pacific Islands,"The population level is unknown, but the stock...",<ul>\n<li>There are five stocks of crimson job...,Pristipomoides filamentosus,...,38.2 mcg,100 g (raw),1,64 mg,<p>U.S -wild caught around Hawaii and Pacific ...,0 g,<p>Crimson jobfish has a delicate flavor.</p>\n,<p>Crimson jobfish has&nbsp;a firm texture and...,/profiles/crimson-jobfish,06/21/2022 - 12:00
1,"<ul>\n<li><a href=""https://www.fisheries.noaa....","<ul>\n<li>White hake are groundfish, meaning t...",Area closures and gear restrictions protect ha...,[{'src': 'https://www.fishwatch.gov/sites/defa...,<ul>\n<li>White hake are found in the northwes...,None,Greater Atlantic,Significantly below target population level. A...,<ul>\n<li>According to the 2019 stock assessme...,Urophycis tenuis,...,32.1 mcg,100 g (raw),1,72 mg,<p>White hake is wild-caught from Maine to sou...,0 g,"<p>White hake has a mild, almost sweet&nbsp;ta...","<p>White hake has a soft, delicate texture tha...",/profiles/white-hake,03/24/2022 - 10:36
2,"<ul>\n<li>\n<p><a href=""https://archive.fisher...",<ul>\n<li>Atlantic chub mackerel are a schooli...,Area closures and gear restrictions protect ha...,[{'src': 'https://www.fishwatch.gov/sites/defa...,<ul>\n<li>Atlantic chub mackerel in the wester...,None,Greater Atlantic,The stock has never been assessed. The popula...,<p>Atlantic chub mackerel has never been asses...,Scomber colias,...,44.1 mcg,100 g (raw),1,90 mg,<p>U.S. wild caught from Southern New England ...,0 g,"<p>Rich, pronounced flavor.</p>\n","<p>Soft, flaky, and moist.</p>\n",/profiles/atlantic-chub-mackerel,05/19/2021 - 12:59
3,"<ul>\n<li><a href=""https://www.fisheries.noaa....",<ul>\n<li>Shortfin squid live in deep and shal...,Fishing gears used to harvest shortfin squid h...,None,<ul>\n<li>Shortfin squid inhabits the continen...,None,Greater Atlantic,The population level is unknown. The species h...,"<ul>\n<li>According to the latest assessment, ...",Illex illecebrosus,...,44.8 mcg,100 g,1,44 mg,<p>U.S. wild-caught from Maine to North Caroli...,0 g,"<p>Mild, and subtly sweet.</p>\n<p>&nbsp;</p>\n",<p>Firm and meaty.</p>\n,/profiles/shortfin-squid,09/30/2020 - 15:24
4,"<ul>\n<li>The states and <a href=""https://www....",<ul>\n<li>American lobsters live on the ocean ...,Fishing gears used to harvest American lobster...,[{'src': 'https://www.fishwatch.gov/sites/defa...,<ul>\n<li>American lobsters are found in the n...,None,Greater Atlantic,Above target population levels in the Gulf of ...,"<ul>\n<li>According to the 2020&nbsp;<a href=""...",Homarus americanus,...,41.4 mcg,100 g (raw),1,296 mg,<p>U.S. wild-caught from Maine to North Caroli...,0 g,<p>Mild and sweet.</p>\n,<p>The meat is firm and somewhat fibrous. The ...,/profiles/american-lobster,01/07/2022 - 10:44

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author

[Svitlana Kramar](https://www.linkedin.com/in/svitlana-kramar?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01)

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

Copyright © 2020 IBM Corporation. All rights reserved.